<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="/static/stylesheet.css">
        <title>Tear Shed Project</title>
</head>
<body>
      
        <h1 class="text-center">About</h1>
        <div style="display: flex; justify-content: center;">
          <div style="max-width: 500px;">
            <p class="text-center">The Tear Shed Project is an interactive digital art installation. 
              Participants in the project are invited to share 
              and record a story that brings them to tears. 
              The tears are then photographed and filmed under microsope and displayed in the digital art gallery here.</p>
          </div>
        </div>
</body>
</html>