<!doctype html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheet.css">
   </head>
   <body>

    <h1 class="grief-title">Grief</h1>

    <!-- <div class="june-tear">
    <img src="/static/June.Grief.Dadsbday.jpg" class="center" id="june-tear">
    </div> -->

    <div class="helix-tear">
    <img src="/static/helixtear.jpg" class="helix-tear" id="helix-tear-id">
  </div>

  <div class="tear-description">
    <h2>
      <ul>Tear collected by: Mae Schuttler</ul>
      <ul>Emotion experienced: Grief and surrender</ul>
      <ul>Date collected: June 30th, 2022</ul>
      </h2>
  </div>

   

   </body>   
   </html>