<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/stylesheet.css">
   </head>
   <body>

    <section class="outter option1">
      <section class="video-container">
        <video src="/static/June.Dad.Grief.mov" autoplay loop playsinline muted></video>
        <div class="callout">
          <h1>The tear shed project.</h1>
          <div class="desc">Every tear tells a story</div>
          <a href="/gallery">
          <div class="button"><div class="inner">Enter<div></div>
        </div>
        </div>
      </a>
        <!-- <a href="/grief">Grief</a>

    <a href="/joy">Joy</a>

    <a href="/heartbreak">Heartbreak</a> -->
      </section>
      </section>

   </body>   
   </html>