<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="/static/stylesheet.css">
        <title>Tear Shed Project</title>
</head>
<body>
        <section class="background">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">The Tear Shed Project</a>
              </div>
              <div class="pull-center" class="nav navbar-nav">
                <a href="/" style="padding: 1em">Home</a>
                <a href="/gallery" style="padding: 1em">Gallery</a>
                <a href="/shop" style="padding: 1em">Shop</a>
              </div>
              <div class="pull-right">
              <div class="login-container">
                <a href="/about" id="about-link" style="padding: 1em">About</a>
                <a href="/contact" id="contact-link" style="padding: 1em">Contact</a>
                
              </div>
            </div>
          </nav>
        <h1 class="text-center">Shop</h1>

        <p>Shop coming soon! </p>
       

</body>
</html>